@model ResetPasswordViewModel

@{
    ViewData["Title"] = "Login";
}

<h1 style="text-align:center">Reset Password</h1>

<div class="row">
    <div class="offset-md-4 col-md-6 ">
        <form asp-action="ResetPassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input asp-for="Email" type="hidden" />

            <input asp-for="Token" type="hidden" />

            <div class="mb-3">
                <label asp-for="Password" class="form-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="ConfirmPassword" class="form-label"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input type="submit" value="Reset" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-light">Cancel</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}